doctype html
html(lang="ko")
    head
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")            
        title #{pageTitle} | Wetube

        body
            header
                h1=pageTitle
                
                nav
                    ul
                        if pageTitle == "home"
                            li 
                                a(href="/videos/upload") upload video
                        else
                            li 
                                a(href="/") home


            main
                block content

        include ./partials/footer.pug