extends base

block content
    h4 비디오 제목 변경하기

    form(method="post")
        input(name="title", placeholder="Video Title", value=video.title, required)
        input(value="Save" type="submit")    