extends base
include mixins/video

block content
    h2 Welcome here you will see the trending videos

        each info in videos
            +video(info)
            //mixins/video의 mixin을 사용할 때 +를 사용.
        else
            p Sorry nothing found.     